*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/
/.yardoc/
/_yardoc/
/doc/
/.bundle/
/vendor/bundle
/lib/bundler/man/
Gemfile.lock
.rspec_status
.DS_Store